// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$app-direction: multi; // Both RTL and LTR

// scroll slides. taken from https://forum.ionicframework.com/t/ionic-scroll-within-ionic-slide-not-working/47099/8
//ion-slides { height:  initial; }  //But this sets ALL slide to the tallest slide
.slide-zoom {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
// space for swiper-pagination
.swiper-wrapper {
  height: 95%;
}
.no-scroll .scroll-content {
  overflow: hidden;
  // Fixes problem with keyboard hiding content during input:
  // https://github.com/ionic-team/ionic/issues/10183
  // https://forum.ionicframework.com/t/ionic-slide-hiding-content-when-the-keyboard-appears/117511/2
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
