<form>
  <ion-list>

    <ion-label text-left>{{ 'PASSWORD_RULES' | translate }}</ion-label>
    <ion-item class="item no-padding">
      <ion-input  class="item no-padding" id="password_show" type="text"     *ngIf="showPassword"  [(ngModel)]="data.datastore.user.password" name="password"></ion-input>
      <ion-input  class="item no-padding" id="password_hide" type="password" *ngIf="!showPassword" [(ngModel)]="data.datastore.user.password" name="password"></ion-input>
      <button ion-button class="item no-padding" clear color="dark" type="button" item-right (click)="showPassword = !showPassword">
        <ion-icon name="eye"> </ion-icon>
      </button>

    </ion-item>

    <!--ion-item>
      <ion-label floating>{{ 'PASSWORD_CONFIRM' | translate }}</ion-label>
      <ion-input id="password_confirm" type="password" [(ngModel)]="password_confirm" name="password_confirm"></ion-input>
    </ion-item-->

    <div padding>
      <button ion-button type="button" *ngIf="signup" id="back_password" color="primary" (click)="clickedBack()">{{ 'BACK_BUTTON_TEXT' | translate }}</button>
      <button ion-button type="submit" *ngIf="signup" id="next_password" color="primary" (click)="clickedNext()">{{ 'NEXT_BUTTON' | translate }}</button>
      <!--button ion-button type="submit" *ngIf="edit" id="save_password" right color="primary" block>{{ 'SAVE_BUTTON' | translate }}</button-->
    </div>

  </ion-list>
</form>
